@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');



a {
  font-family: 'Poppins', sans-serif;
  color: #372a25;
  font-size: 1rem;
}

p {
  font-family: 'Poppins', sans-serif;
  color: #9d9f9e;
  font-size: 0.875rem;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 3.2rem;
  color: #000002;
}

h1 span {
  color: #ff7d56;
}

h3 {
  font-size: 1.2rem;
  font-family: 'Open Sans', sans-serif;
  color: #9d9f9e;
}

h4{
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: #000002;
  font-size: 1.8rem
}

h5 {
  font-family: 'Poppins', sans-serif;
  color: #000002;
  font-size: 1.1rem
}

.centralizar-links {
  margin: 0 auto;
}

.cornavbar {
  background-color: #fff0e9;
}

.botaonavbar {
  color: #fff3e6;
  background-color: #f99c80;
  padding: 10px 20px;
  border-radius: 8px;
}

.botaonavbar:hover{
  color: #fff3e6;
  background-color: #ff7d56;
  transition: 0.4s;
}

.chamadabox{
  padding-top: 5rem;
}

.boxtitulo {
  border-radius: 0 0 20px 20px;
}

.features{
  color: #daaa9d;
  background-color: #fff0e9 ;
  padding: 5px 15px; 
  border-radius: 25px;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
}