@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');


a {
  font-family: 'Poppins', sans-serif;
  color: #372a25;
  font-size: 1rem;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 3.2rem;
  color: #000002;
}

h1 span {
  color: #ff7d56;
}

h3 {
  font-size: 1.2rem;
  font-family: 'Open Sans', sans-serif;
}

.centralizar-links {
  margin: 0 auto;
}

.cornavbar {
  background-color: #fff0e9;
}

.botaonavbar {
  color: #fff3e6;
  background-color: #f99c80;
  padding: 10px 20px;
  border-radius: 8px;
}

.botaonavbar:hover{
  color: #fff3e6;
  background-color: #ff7d56;
  transition: 0.4s;
}

.chamadabox{
  padding-top: 5rem;
}